@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 20px;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.5em;
    margin: 0;
    color: #333;
  }
  
  .card-text {
    font-size: 1em;
    color: #777;
  }
  
  .card-id {
    font-size: 0.9em;
    color: #aaa;
    margin-top: 10px;
  }
  